.icon{
    height: 60px !important;
    width: 60px !important;
}

.title{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}

.title:hover{
    color: #8490ff;
    text-decoration: none;
}

.servicedesc{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;

}