.title{
    font-family: 'poppins' , sans-serif;
    color: #222222;
    font-size: 24px !important;
    text-transform: uppercase;
    text-align: center;
}

.subtitle{
    font-family: 'poppins' , sans-serif;
    color: #777777;
    font-size: 14px;
    text-align: center;

}

.jobtitle{
    font-family: 'poppins' , sans-serif;
    color: #222222;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}

.jobdesc{
    font-family: 'poppins' , sans-serif;
    color: #777777;
    font-size: 14px;
    padding-bottom: 20px; 
    text-align: center;

}